$colorW: #FFFFFF;
$border: 10px;
*{
  font-family: 'Open Sans', sans-serif;
  font-size: calc(20px + 10 * (100vw / 1440));
}
.home__body {
  display: flex;
  width: 100vw;
  height: 90vh;

  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../images/HomeBG.png");
}

//input{
//  width: 40%;
//  height: 6%;
//
//  border-radius: $border;
//  border: none;
//  background: url("../images/search.png") no-repeat left  $colorW;
//  background-position-x: 5px;
//}
input:focus{
  background: $colorW;
}

.title__home{
  color: $colorW;

}
footer{
  font-size: 15px;
}
